
body {background-color: #d9e8ef;}
.background {background-color: #d9e8ef;
text-decoration-color: red;
overflow-x: auto;
font-style: Helvetica, sans-serif;
}
 
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 100%;}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding: 0%;
      background-color: #f1f1f1;
   margin-bottom: 0%;
   position: fixed;
   color: #595959;
height: 100%; /* Full height */
background: -webkit-linear-gradient(#fff,#f1fbfd);
background: -o-linear-gradient(#fff,#f1fbfd);
background: -moz-linear-gradient(#fff,#f1fbfd);
background: linear-gradient(#fff,#f1fbfd);
-moz-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.18);
-webkit-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.18);
box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.18); font-family:'Ubuntu'; font-weight: 500;}

#contact {color:#9cb0bb;}

h1{letter-spacing:10px;margin-bottom: 0%;padding-bottom: 0%;}


.menu:hover {
  background-color: #e4e8ea;
  color: #EEA200; margin-right: 0%;margin-left: 0%;padding:5%;}
#info {margin-bottom: 0%;color:#9cb0bb;letter-spacing:3px;margin-top: 15%;}
#foot {color:#9cb0bb;}
#foot >p >a:link
        {
            color:#9cb0bb;
        }
        /* 已連結過 */
        a:visited
        {
            color: #72a3bb;
        }
        /* 滑鼠移至連結 */
        a:hover
        {
            color: #72a3bb;
        }
        /* 選擇的連結 */
        a:active
        {
            color: #72a3bb;
        }


.menu{color:#9cb0bb;padding:5%; margin-right: 0%;margin-left: 0%}
.menu2{color:#9cb0bb;padding:5%;}
hr {color: #3b6274;background-color:#3b6274;}


#tops {background-color:#e4e8ea;padding:3%; margin-right: 0%;margin-left: 0%;margin-bottom: 10%;}

.map {padding: 1%;margin-top:1%;   background-color: #fff;
-moz-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.18);
-webkit-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.18);
box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.18);}

.mtitle{margin-top:5%;color:#595959;font-family:'Ubuntu'; font-weight: 400;}

table{color:#595959
	padding: 1%;margin-top:1%;  background-color: #fff;
-moz-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.18);
-webkit-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.18);
box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.18);
}

th {text-align: center;font-family:'Ubuntu'; font-weight: 500;}

br {text-align: center;}
.mj{font-size: 140%;text-align: center;}
.twoline{font-size: 120%;text-align: center;}

.ok{text-align: center;}
.gray{color: #a2a2a2;font-size:80%;padding:0%;margin: 0%;}
.detitle {font-size: 140%;padding:0%;margin: 0%;}

.db{width: 80%;height:100%;position: absolute;
    right:1%;}

.clear{
  clear: both;
position: s
}

.glyphicon-ok {font-size: 200%;color:#598eac;}

td {font-family:'Ubuntu'; font-weight: 400;vertical-align:middle!important;padding: 2% !important;}
    .img-circle{margin:auto; }



    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      #tops {background-color:#e4e8ea; margin-right: 0%;margin-left: 0%;margin-bottom: 2%;}
      h1{letter-spacing:10px;margin:0 auto ;}

      .sidenav {
        height: 20%;
        
position: relative;
margin:0 auto ;
width: 100%;
height: 20%;
font-size: 80%;
      }
      .menu{color:#9cb0bb;padding:0%;margin-left: 0%;}
      .menu:hover {
  background-color: #e4e8ea;
  color: #EEA200; margin-right: 0%;margin-left: 0%;padding:0%;}
      .row.content {height:auto;}

.db{width: 100%;height:100%;}
#foot{display: none;}
.img-circle{display: none;}
.menu2{display: none;}
    }



